<div class="container" >
  <div class="reglist">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Rule</th>
          <th>Incoming Records</th>
          <th>Outgoing Records</th>
          
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of rows; let i = index">
          <td>{{ row.id }}</td>
          <td>{{ row.rule }}</td>
          <td>{{ row.incoming_records}}</td>
          <td>{{ row.outgoing_records }}</td>
          
        </tr>
      </tbody>
    </table>
    
  </div>
  
